@charset "UTF-8";

$slick-font-path: "./fonts/" !default;
$slick-font-family: "slick" !default;
$slick-loader-path: "./" !default;
$slick-arrow-color: white !default;
$slick-dot-color: black !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-prev-character: "\2190" !default;
$slick-next-character: "\2192" !default;
$slick-dot-character: "\2022" !default;
$slick-dot-size: 6px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;

@function slick-image-url($url) {
  @if function-exists(image-url) {
    @return image-url($url);
  } @else {
    @return url($slick-loader-path + $url);
  }
}

@function slick-font-url($url) {
  @if function-exists(font-url) {
    @return font-url($url);
  } @else {
    @return url($slick-font-path + $url);
  }
}

.slick-prev,
.slick-next {
  position: absolute;
  top: 200px;
  z-index: 2;
  display: block;
  width: 32px;
  height: 50px;
  padding: 0;
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
  color: transparent;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  line-height: 0px;
  font-size: 0px;
  &.slick-disabled:before {
    opacity: $slick-opacity-not-active;
  }
  &:before {
    font-family: $slick-font-family;
    font-size: 20px;
    line-height: 1;
    color: $slick-arrow-color;
    opacity: $slick-opacity-default;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.BigSlider {
  width: 940px;
  height: 425px;
  margin: auto;
  margin-top: 158px;
  &-description {
    position: absolute;
    bottom: 28px;
    padding-left: 30px;
    &-wrapper {
      display: flex;
      flex-direction: row;
      height: 14px;
      margin: 10px 0px;
      &-date {
        display: flex;
        align-items: flex-end;
        height: 14px;
        margin-bottom: 0;
        color: $font-color-white;
        font-family: "Roboto";
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
      }
      &-comments {
        display: flex;
        flex-direction: row;
        height: 14px;
        margin-bottom: 0;
        margin-left: 20px;
        color: $font-color-white;
        font-family: "Varela Round";
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
      }
    }
    &-title {
      display: flex;
      align-items: flex-end;
      max-width: 600px;
      height: 92px;
      margin-bottom: 10px;
      margin-top: 0;
      color: $font-color-white;
      font-family: "Bitter";
      font-weight: 700;
      font-size: 34px;
      line-height: 40.8px;
    }
    &-btn {
      width: 123px;
      height: 33px;
      padding: 0;
      background: rgba(0, 0, 0, 0.0001);
      color: #ffffff;
      border: 1px solid #ffffff;
      &:hover {
        cursor: pointer;
        background-color: $secondary-color;
        font-size: 14.5px;
        transition: all 0.5s;
      }
    }
  }
  &-img {
    width: 940px;
    height: 425px;
    object-fit: cover;
    object-position: 10% 38%;
  }
}

.slick-prev {
  bottom: 195px;
  left: 28px;
  background-image: url("../svgs/PrevBtn.svg");
}

.slick-next {
  bottom: 195px;
  right: 28px;
  background-image: url("../svgs/NextBtn.svg");
}
