.categories {
  position: relative;
  width: 1602px;
  height: 53px;
  background: $secondary-color;
  &-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    margin: 0;
    margin-left: 330px;
    padding: 0;
    list-style: none;
    &-news {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 96px;
      height: 53px;
      &-title {
        @include CategItemStyle;
        width: 96px;
        height: 24px;
        z-index: 1;
      }
      &-line {
        width: 96px;
        height: 4px;
        background-color: #299ec3;
      }
      &:hover > .categories-list-news-line {
        position: absolute;
        top: 0;
        height: 53px;
        cursor: pointer;
      }
      &:hover > .categories-list-news-title {
        margin-top: 16px;
      }
    }
    &-business {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 132px;
      height: 53px;
      &-title {
        @include CategItemStyle;
        width: 132px;
        height: 24px;
        z-index: 1;
      }
      &-line {
        width: 132px;
        height: 4px;
        background-color: #ee6151;
      }
      &:hover > .categories-list-business-line {
        position: absolute;
        top: 0;
        height: 53px;
        cursor: pointer;
      }
      &:hover > .categories-list-business-title {
        margin-top: 16px;
      }
    }
    &-sport {
      display: flex;
      flex-direction: column;
      width: 100px;
      height: 53px;
      &-title {
        @include CategItemStyle;
        z-index: 1;
        width: 100px;
        height: 24px;
      }
      &-line {
        width: 100px;
        height: 4px;
        background-color: #84c14f;
      }
      &:hover > .categories-list-sport-line {
        position: absolute;
        top: 0;
        height: 53px;
        cursor: pointer;
      }
      &:hover > .categories-list-sport-title {
        margin-top: 16px;
      }
    }
    &-life {
      display: flex;
      flex-direction: column;
      width: 81px;
      height: 53px;
      &-title {
        @include CategItemStyle;
        z-index: 1;
        width: 81px;
        height: 24px;
      }
      &-line {
        width: 81px;
        height: 4px;
        background-color: #5dcff3;
      }
      &:hover > .categories-list-life-line {
        position: absolute;
        top: 0;
        height: 53px;
        cursor: pointer;
      }
      &:hover > .categories-list-life-title {
        margin-top: 16px;
      }
    }
    &-tech {
      display: flex;
      flex-direction: column;
      width: 91px;
      height: 53px;
      &-title {
        @include CategItemStyle;
        z-index: 1;
        width: 91px;
        height: 24px;
      }
      &-line {
        width: 91px;
        height: 4px;
        background-color: #fcc44d;
      }
      &:hover > .categories-list-tech-line {
        position: absolute;
        top: 0;
        height: 53px;
        cursor: pointer;
      }
      &:hover > .categories-list-tech-title {
        margin-top: 16px;
      }
    }
    &-travel {
      display: flex;
      flex-direction: column;
      z-index: 1;
      width: 113px;
      height: 53px;
      &-title {
        @include CategItemStyle;
        z-index: 1;
        width: 113px;
        height: 24px;
      }
      &-line {
        width: 113px;
        height: 4px;
        background-color: #a99765;
      }
      &:hover > .categories-list-travel-line {
        position: absolute;
        top: 0;
        height: 53px;
        cursor: pointer;
      }
      &:hover > .categories-list-travel-title {
        margin-top: 16px;
      }
    }
  }
}
