.categories {
  position: relative;
  width: 1602px;
  height: 53px;
  background: $secondary-color;
  &-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    margin: 0;
    margin-left: 330px;
    padding: 0;
    list-style: none;
    &-news {
      @include CategItemStyle(55px);
      z-index: 2;
      margin: 15px 21px 14px 20px;
    }
    &-container-news {
      position: absolute;
      left: 330px;
      top: 0px;
      width: 96px;
      height: 53px;
      background: #299ec3;
    }
    &-business {
      @include CategItemStyle(120px);
      z-index: 2;
      margin: 6px 11px 20px 20px;
    }
    &-container-business {
      position: absolute;
      left: 426px;
      top: 47px;
      width: 132px;
      height: 6px;
      background: #ee6151;
    }
    &-sport {
      @include CategItemStyle(88px);
      z-index: 2;
      margin: 6px 9px 20px 0px;
    }
    &-container-sport {
      position: absolute;
      left: 555px;
      top: 47px;
      width: 100px;
      height: 6px;
      background: #84c14f;
    }
    &-life {
      @include CategItemStyle(68px);
      z-index: 2;
      margin: 6px 10px 20px 0px;
    }
    &-container-life {
      position: absolute;
      left: 653px;
      top: 47px;
      width: 81px;
      height: 6px;
      background: #5dcff3;
    }
    &-tech {
      @include CategItemStyle(78px);
      z-index: 2;
      margin: 6px 10px 20px 0px;
    }
    &-container-tech {
      position: absolute;
      left: 730px;
      top: 47px;
      width: 91px;
      height: 6px;
      background: #fcc44d;
    }
    &-travel {
      @include CategItemStyle(100px);
      z-index: 2;
      margin: 6px 10px 20px 0px;
    }
    &-container-travel {
      position: absolute;
      left: 819px;
      top: 47px;
      width: 113px;
      height: 6px;
      background: #a99765;
    }
  }
}
