.categorypage {
  &-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    &-list {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 622px;
      height: 2603px;
      padding: 0;
      &-title {
        display: flex;
        align-items: flex-end;
        margin-top: 24px;
        margin-bottom: 36px;
        color: $font-color-gray-2;
        font-family: "Bitter";
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
      }
      &-item {
        width: 622px;
        margin-bottom: 92px;
        &-title {
          display: flex;
          align-items: center;
          height: 24px;
          margin: 0;
          margin-bottom: 16px;
          color: $font-color-gray-2;
          font-family: "Bitter";
          font-style: normal;
          font-weight: 700;
          font-size: 24px;
          line-height: 12px;
        }
        &-info-1 {
          display: flex;
          flex-direction: row;
          gap: 35px;
          &-date {
            @include CategPageInfoStyle;
          }
          &-author {
            @include CategPageInfoStyle;
          }
          &-comments {
            @include CategPageInfoStyle;
          }
        }
        &-info-2 {
          display: flex;
          flex-direction: row;
          margin-top: 7px;
          &-img {
            width: 170px;
            height: 128px;
            margin-top: 5px;
            margin-right: 20px;
          }
          &-paragraph {
            position: relative;
            &-text {
              display: flex;
              align-items: center;
              margin: 0;
              color: $tertiary-color-dark;
              font-family: "Bitter";
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 22px;
            }
            &-btn {
              width: 123px;
              height: 33px;
              margin-top: 16px;
              border: none;
              background: $secondary-color;
              color: $font-color-white-1;
              &:hover {
                cursor: pointer;
                background-color: darken($secondary-color, 5%);
                transition: all 0.5s;
              }
            }
          }
        }
      }
      &-pagination {
        position: absolute;
        bottom: 188px;
        left: 30px;
        display: flex;
        flex-direction: row;
        gap: 4px;
        &-item {
          &-btn {
            width: 33px;
            height: 32px;
            border: none;
            background-color: $bg-white-color-1;
            color: $secondary-color;
            &:hover {
              cursor: pointer;
              background: $secondary-color;
              color: $font-color-white-1;
              transition: all 0.5s;
            }
            &:focus {
              background: $secondary-color;
              color: $font-color-white-1;
            }
          }
        }
      }
    }
    &-sidebar {
      margin-left: 10px;
    }
  }
}
