* {
  box-sizing: border-box;
}

html,
body {
  height: auto;
  width: 100%;
  margin: 0;
  background-color: $container-color-gray;
}

#root {
  height: 100%;
  width: 1602px;
  margin: auto;
  background-color: $container-color-white;
}
