@mixin FontHoverStyle {
  &:hover {
    cursor: pointer;
    color: $font-color-hover;
    transition: all 0.5s;
  }
}

@mixin SubNavItemStyle {
  color: $font-color-white;
  font-family: "Varela Round";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  @include FontHoverStyle;
}

@mixin CategItemStyle($width) {
  display: flex;
  align-items: flex-end;
  width: $width;
  height: 24px;
  color: $font-color-white;
  font-family: "Bitter";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  @include FontHoverStyle;
}

@mixin BigSliderFontStyle {
  color: $font-color-white;
  font-family: "Varela Round";
  font-style: normal;
  font-weight: 400;
}
