.sport {
  display: flex;
  flex-direction: row;
  margin-top: 19px;
  padding-right: 8px;
  background-color: $bg-white-color-3;
  &-line {
    width: 13px;
    height: 325px;
    background: $mantis-color;
  }
  &-container {
    display: flex;
    flex-direction: column;
    margin-left: 31px;
    &-info {
      display: flex;
      flex-direction: row;
      &-title {
        display: flex;
        align-items: flex-end;
        width: 94px;
        margin: 0;
        margin-top: 15px;
        margin-bottom: 30px;
        color: $font-color-gray-2;
        font-family: "Bitter";
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
      }
      &-seeall {
        margin-left: 412px;
        margin-top: 32px;
        &-link {
          display: flex;
          align-items: flex-end;
          width: 43px;
          height: 17px;
          color: $curious-color;
          font-family: "Varela Round";
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          text-decoration: none;
          &:hover {
            border-bottom: 1px solid $curious-color;
          }
        }
      }
    }
    &-list {
      display: flex;
      flex-direction: row;
      &-item {
        &-img {
          width: 170px;
          height: 128px;
          margin-right: 20px;
        }
        &-info {
          position: relative;
          width: 169px;
          height: 85px;
          &-date {
            margin: 4px 0;
            color: $tertiary-color;
            font-family: "Varela Round";
            font-weight: 400;
            font-size: 12px;
            line-height: 14.45px;
          }
          &-title {
            margin: 0;
            color: $font-color-gray-2;
            font-family: "Bitter";
            font-weight: 700;
            font-size: 14px;
            line-height: 16.8px;
          }
          &-id {
            position: absolute;
            top: -11px;
            right: 0px;
            color: $tertiary-color;
            font-family: "Varela Round";
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
          }
        }
      }
    }
  }
}
