$primary-color: #252525;
$primary-color-light: #333333;
$primary-color-dark: #222222;
$secondary-color: #4d4382;
$tertiary-color: #666666;
$tertiary-color-light: #999999;
$tertiary-color-dark: #444444;
$font-color-white-1: #ffffff;
$font-color-white-2: #cccccc;
$font-color-gray-1: #acb3ba;
$font-color-gray-2: #363f48;
$border-color-white: white;
$font-color-hover: #b7b6b6;
$container-color-gray: #595959;
$container-color-white: white;
$bg-white-color-1: #dddddd;
$bg-white-color-2: #c1bfbf;
$curious-color: #3677b5;
$flamingo-color: #ee6151;
$mantis-color: #84c14f;
$turquoise-color: #5dcff3;
$golden-tainoi-color: #fcc44d;
$tallow-color: #a99765;
