@import url("https://fonts.googleapis.com/css2?family=Bitter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.header {
  display: flex;
  flex-direction: row;
  width: 1602px;
  height: 53px;
  background-color: #252525;
}
.header-logo {
  display: flex;
  flex-direction: row;
}
.header-logo-symbol {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 330px;
  width: 63px;
  height: 53px;
  background-color: #333333;
}
.header-logo-symbol:hover {
  cursor: pointer;
}
.header-logo-symbol:hover > .header-logo-symbol-svg {
  cursor: pointer;
  transform: rotate(360deg);
  transition: all 0.8s;
}
.header-logo-symbol-svg {
  width: 14px;
  height: 21px;
}
.header-logo-name {
  width: 100px;
  height: 27px;
  margin-top: 16.5px;
  margin-right: 447px;
  margin-bottom: 9.5px;
  margin-left: 9px;
  color: #ffffff;
  font-family: "Bitter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 27px;
}
.header-logo-name:hover {
  cursor: pointer;
  color: #b7b6b6;
  transition: all 0.5s;
}
.header-sub-nav-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
}
.header-sub-nav-list-media {
  color: #ffffff;
  font-family: "Varela Round";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  width: 77px;
  height: 27px;
  margin-top: 14.5px;
  margin-right: 6px;
}
.header-sub-nav-list-media:hover {
  cursor: pointer;
  color: #b7b6b6;
  transition: all 0.5s;
}
.header-sub-nav-list-marketing {
  color: #ffffff;
  font-family: "Varela Round";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  width: 97px;
  height: 27px;
  margin-top: 14.5px;
  margin-right: 9px;
}
.header-sub-nav-list-marketing:hover {
  cursor: pointer;
  color: #b7b6b6;
  transition: all 0.5s;
}
.header-sub-nav-list-contact {
  color: #ffffff;
  font-family: "Varela Round";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  width: 83px;
  height: 27px;
  margin-top: 14.5px;
}
.header-sub-nav-list-contact:hover {
  cursor: pointer;
  color: #b7b6b6;
  transition: all 0.5s;
}
.header-sub-nav-list-search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 53px;
  background-color: #333333;
}
.header-sub-nav-list-search:hover {
  cursor: pointer;
}
.header-sub-nav-list-search:hover > .header-search-svg {
  cursor: pointer;
  transform: rotate(360deg);
  transition: all 0.7s;
}
.header-sub-nav-list-search-svg {
  width: 16px;
  height: 16px;
}

.categories {
  position: relative;
  width: 1602px;
  height: 53px;
  background: #4d4382;
}
.categories-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  margin: 0;
  margin-left: 330px;
  padding: 0;
  list-style: none;
}
.categories-list-news {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 96px;
  height: 53px;
}
.categories-list-news-title {
  display: flex;
  justify-content: center;
  margin: 12px 0 13px 0;
  color: #ffffff;
  font-family: "Bitter";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  width: 96px;
  height: 24px;
  z-index: 1;
}
.categories-list-news-title:hover {
  cursor: pointer;
}
.categories-list-news-line {
  width: 96px;
  height: 4px;
  background-color: #299ec3;
}
.categories-list-news:hover > .categories-list-news-line {
  position: absolute;
  top: 0;
  height: 53px;
  cursor: pointer;
}
.categories-list-news:hover > .categories-list-news-title {
  margin-top: 16px;
}
.categories-list-business {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 132px;
  height: 53px;
}
.categories-list-business-title {
  display: flex;
  justify-content: center;
  margin: 12px 0 13px 0;
  color: #ffffff;
  font-family: "Bitter";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  width: 132px;
  height: 24px;
  z-index: 1;
}
.categories-list-business-title:hover {
  cursor: pointer;
}
.categories-list-business-line {
  width: 132px;
  height: 4px;
  background-color: #ee6151;
}
.categories-list-business:hover > .categories-list-business-line {
  position: absolute;
  top: 0;
  height: 53px;
  cursor: pointer;
}
.categories-list-business:hover > .categories-list-business-title {
  margin-top: 16px;
}
.categories-list-sport {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 53px;
}
.categories-list-sport-title {
  display: flex;
  justify-content: center;
  margin: 12px 0 13px 0;
  color: #ffffff;
  font-family: "Bitter";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  z-index: 1;
  width: 100px;
  height: 24px;
}
.categories-list-sport-title:hover {
  cursor: pointer;
}
.categories-list-sport-line {
  width: 100px;
  height: 4px;
  background-color: #84c14f;
}
.categories-list-sport:hover > .categories-list-sport-line {
  position: absolute;
  top: 0;
  height: 53px;
  cursor: pointer;
}
.categories-list-sport:hover > .categories-list-sport-title {
  margin-top: 16px;
}
.categories-list-life {
  display: flex;
  flex-direction: column;
  width: 81px;
  height: 53px;
}
.categories-list-life-title {
  display: flex;
  justify-content: center;
  margin: 12px 0 13px 0;
  color: #ffffff;
  font-family: "Bitter";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  z-index: 1;
  width: 81px;
  height: 24px;
}
.categories-list-life-title:hover {
  cursor: pointer;
}
.categories-list-life-line {
  width: 81px;
  height: 4px;
  background-color: #5dcff3;
}
.categories-list-life:hover > .categories-list-life-line {
  position: absolute;
  top: 0;
  height: 53px;
  cursor: pointer;
}
.categories-list-life:hover > .categories-list-life-title {
  margin-top: 16px;
}
.categories-list-tech {
  display: flex;
  flex-direction: column;
  width: 91px;
  height: 53px;
}
.categories-list-tech-title {
  display: flex;
  justify-content: center;
  margin: 12px 0 13px 0;
  color: #ffffff;
  font-family: "Bitter";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  z-index: 1;
  width: 91px;
  height: 24px;
}
.categories-list-tech-title:hover {
  cursor: pointer;
}
.categories-list-tech-line {
  width: 91px;
  height: 4px;
  background-color: #fcc44d;
}
.categories-list-tech:hover > .categories-list-tech-line {
  position: absolute;
  top: 0;
  height: 53px;
  cursor: pointer;
}
.categories-list-tech:hover > .categories-list-tech-title {
  margin-top: 16px;
}
.categories-list-travel {
  display: flex;
  flex-direction: column;
  z-index: 1;
  width: 113px;
  height: 53px;
}
.categories-list-travel-title {
  display: flex;
  justify-content: center;
  margin: 12px 0 13px 0;
  color: #ffffff;
  font-family: "Bitter";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  z-index: 1;
  width: 113px;
  height: 24px;
}
.categories-list-travel-title:hover {
  cursor: pointer;
}
.categories-list-travel-line {
  width: 113px;
  height: 4px;
  background-color: #a99765;
}
.categories-list-travel:hover > .categories-list-travel-line {
  position: absolute;
  top: 0;
  height: 53px;
  cursor: pointer;
}
.categories-list-travel:hover > .categories-list-travel-title {
  margin-top: 16px;
}

.homepage-content {
  display: flex;
  flex-direction: row;
}

.newspage-content {
  display: flex;
  flex-direction: row;
}
.newspage-content-list {
  display: flex;
  flex-direction: column;
  width: 622px;
  height: 2603px;
  margin-left: 330px;
  padding: 0;
}
.newspage-content-list-item {
  width: 622px;
  height: 2603px;
}
.newspage-content-sidebar {
  margin-left: 10px;
}

.news {
  display: flex;
  flex-direction: row;
  margin-top: 19px;
  margin-left: 330px;
  padding-right: 8px;
}
.news-line {
  width: 13px;
  height: 325px;
  background: #3677b5;
}
.news-container {
  display: flex;
  flex-direction: column;
  margin-left: 31px;
}
.news-container-info {
  display: flex;
  flex-direction: row;
}
.news-container-info-title {
  display: flex;
  align-items: flex-end;
  width: 94px;
  height: 33px;
  color: #363f48;
  font-family: "Bitter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}
.news-container-info-seeall {
  margin-left: 412px;
  margin-top: 32px;
}
.news-container-info-seeall-link {
  display: flex;
  align-items: flex-end;
  width: 43px;
  height: 17px;
  color: #3677b5;
  font-family: "Varela Round";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
}
.news-container-info-seeall-link:hover {
  border-bottom: 1px solid #3677b5;
}
.news-container-list {
  display: flex;
  flex-direction: row;
}
.news-container-list-item-img {
  width: 170px;
  height: 128px;
  margin-right: 20px;
}
.news-container-list-item-info {
  position: relative;
  width: 169px;
  height: 85px;
}
.news-container-list-item-info-date {
  margin: 4px 0;
  color: #666666;
  font-family: "Varela Round";
  font-weight: 400;
  font-size: 12px;
  line-height: 14.45px;
}
.news-container-list-item-info-title {
  margin: 0;
  color: #363f48;
  font-family: "Bitter";
  font-weight: 700;
  font-size: 14px;
  line-height: 16.8px;
}
.news-container-list-item-info-id {
  position: absolute;
  top: -11px;
  right: 0px;
  color: #666666;
  font-family: "Varela Round";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

.sidebar {
  width: 303px;
  height: 1985px;
  margin-top: 19px;
  margin-left: 16px;
}
.sidebar-news {
  width: 303px;
  height: 667px;
}
.sidebar-news-categories {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 21px;
  width: 100%;
  height: 53px;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #433a71;
}
.sidebar-news-categories-item-title-text {
  margin: 0;
  color: #ffffff;
  font-family: "Varela Round";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
.sidebar-news-categories-item-title-line {
  margin-top: 0.5px;
  width: 100%;
  height: 1px;
  opacity: 0.3;
  background-color: #ffffff;
}
.sidebar-news-categories-item:hover > .sidebar-news-categories-item-title > .sidebar-news-categories-item-title-text {
  cursor: pointer;
  color: #fcc44d;
  transition: all 0.5s;
}
.sidebar-news-categories-item:hover > .sidebar-news-categories-item-title > .sidebar-news-categories-item-title-line {
  cursor: pointer;
  background-color: #fcc44d;
  transition: all 0.5s;
}
.sidebar-news-posts {
  height: 614px;
  background-color: #4d4382;
}
.sidebar-news-posts-post {
  position: relative;
  padding-top: 31px;
  padding-bottom: 31px;
}
.sidebar-news-posts-post:hover {
  cursor: pointer;
  background-color: #433a71;
  transition: all 0.5s;
}
.sidebar-news-posts-post-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 52px;
  margin-left: 32px;
}
.sidebar-news-posts-post-wrapper-info-date {
  margin: 0;
  margin-bottom: 2px;
  color: #acb3ba;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 14.06px;
}
.sidebar-news-posts-post-wrapper-info-title {
  max-width: 165px;
  margin: 0;
  color: #ffffff;
  font-family: "Bitter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16.8px;
}
.sidebar-news-posts-post-wrapper-comments {
  position: absolute;
  top: -18px;
  left: 124px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3px;
}
.sidebar-news-posts-post-wrapper-comments-img {
  width: 11px;
  height: 10px;
  color: #acb3ba;
}
.sidebar-news-posts-post-wrapper-comments-number {
  color: #acb3ba;
  font-family: "Valera Round";
  font-weight: 400;
  font-size: 10px;
  line-height: 12.04px;
}
.sidebar-news-posts-post-wrapper-img {
  width: 70px;
  height: 70px;
  border: 2px solid white;
}
.sidebar-news-posts-post-line {
  position: absolute;
  bottom: 0;
  width: 303px;
  height: 2px;
  background-color: #433a71;
}
.sidebar-social-title {
  display: flex;
  align-items: flex-end;
  width: 101px;
  height: 33px;
  margin-top: 28px;
  margin-bottom: 6px;
  color: #363f48;
  font-family: "Bitter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}
.sidebar-social-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style: none;
}
.sidebar-social-list-item {
  display: flex;
  flex-direction: row;
  height: 40px;
  margin-top: 10px;
}
.sidebar-social-list-item-logo {
  width: 40px;
  height: 40px;
}
.sidebar-social-list-item-event {
  width: 123px;
  height: 40px;
  background-color: #dddddd;
}
.sidebar-social-list-item-event:hover {
  cursor: pointer;
  background-color: #c1bfbf;
  transition: all 0.5s;
}
.sidebar-social-list-item-event-text {
  width: 18px;
  margin: 0;
  margin-top: 13px;
  margin-left: 15px;
  color: #363f48;
  font-family: "Bitter";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}
.sidebar-social-list-item-info {
  width: 142px;
  height: 40px;
  background-color: #4d4382;
}
.sidebar-social-list-item-info-text {
  margin-left: 15px;
  color: #ffffff;
  font-family: "Varela Round";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
.sidebar-kenaz {
  margin-top: 32px;
}
.sidebar-kenaz-title {
  margin-bottom: 31px;
  margin-left: 33px;
  display: flex;
  align-items: flex-end;
  width: 141px;
  height: 33px;
  color: #363f48;
  font-family: "Bitter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}
.sidebar-kenaz-video {
  position: relative;
}
.sidebar-kenaz-video-img {
  width: 303px;
  height: 149px;
  -o-object-fit: cover;
     object-fit: cover;
}
.sidebar-kenaz-video-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 43px;
  border-radius: 4px;
  background: #000000;
  opacity: 0.8;
}
.sidebar-kenaz-video-play-btn {
  width: 20px;
  height: 20px;
}
.sidebar-kenaz-video-play:hover {
  cursor: pointer;
}
.sidebar-kenaz-info {
  margin-left: 32px;
}
.sidebar-kenaz-info-date {
  margin: 0;
  margin-top: 17px;
  margin-bottom: 4px;
  color: #666666;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 14.06px;
}
.sidebar-kenaz-info-title {
  margin: 0;
  color: #363f48;
  font-family: "Bitter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}
.sidebar-envatoposts {
  width: 270px;
  height: 521px;
  margin: auto;
  margin-top: 242px;
}

.footer {
  width: 1602px;
  height: 934px;
  margin-top: 19px;
  background-color: #252525;
}
.footer-line {
  width: 1602px;
  height: 23px;
  background-color: #4d4382;
}
.footer-info {
  display: flex;
  flex-direction: row;
}
.footer-info-kenaz {
  margin-left: 333px;
}
.footer-info-kenaz-title {
  display: flex;
  flex-direction: row;
  margin-top: 49.22px;
  margin-bottom: 21.78px;
}
.footer-info-kenaz-title-text {
  display: flex;
  align-items: center;
  width: 143.56px;
  height: 52px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 18px;
  color: #45b0e3;
  font-family: "Bitter";
  font-style: normal;
  font-weight: 400;
  font-size: 29.623px;
  line-height: 52px;
}
.footer-info-kenaz-subtitle {
  display: flex;
  align-items: center;
  width: 303px;
  height: 40px;
  margin-bottom: 23px;
  color: #666666;
  font-family: "Bitter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.footer-info-kenaz-social-item {
  width: 38px;
  height: 38px;
  margin-right: 6px;
}
.footer-info-kenaz-social-item:hover {
  cursor: pointer;
  transform: rotate(360deg);
  transition: all 0.7s;
}
.footer-info-newsletter {
  margin-left: 18px;
}
.footer-info-newsletter-title {
  display: flex;
  align-items: flex-end;
  width: 163px;
  height: 33px;
  margin-top: 63px;
  margin-bottom: 25px;
  color: #cccccc;
  font-family: "Bitter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}
.footer-info-newsletter-subtitle {
  display: flex;
  align-items: center;
  width: 303px;
  height: 40px;
  margin-bottom: 25px;
  color: #666666;
  font-family: "Bitter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.footer-info-newsletter-subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 53px;
}
.footer-info-newsletter-subscribe-input {
  width: 193px;
  height: 53px;
  margin: 0;
  padding: 0;
  padding-left: 21px;
  border: none;
  background: #333333;
  color: #ffffff;
  font-family: "Varela Round";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.footer-info-newsletter-subscribe-input:focus {
  outline: none;
  border-top: 1px solid #4d4382;
  border-bottom: 1px solid #4d4382;
  border-left: 1px solid #4d4382;
}
.footer-info-newsletter-subscribe-btn {
  width: 112px;
  height: 53px;
  padding: 0;
  border: none;
  color: #cccccc;
  background: #4d4382;
  font-family: "Varela Round";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.footer-info-newsletter-subscribe-btn:hover {
  cursor: pointer;
  background: #3f376a;
  transition: all 0.5s;
}
.footer-info-tags {
  margin-left: 17px;
}
.footer-info-tags-title {
  display: flex;
  align-items: flex-end;
  width: 178px;
  height: 33px;
  margin-top: 63px;
  margin-bottom: 31px;
  color: #cccccc;
  font-family: "Bitter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}
.footer-info-tags-names-1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.footer-info-tags-names-1-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 3px;
  padding: 4px 8px 4px 8px;
  color: #666666;
  background: #333333;
  font-family: "Varela";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}
.footer-info-tags-names-1 :hover {
  cursor: pointer;
  background-color: #4d4382;
  color: #b7b6b6;
  transition: all 0.5s;
}
.footer-info-tags-names-2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 3px;
}
.footer-info-tags-names-2-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 3px;
  padding: 4px 8px 4px 8px;
  color: #666666;
  background: #333333;
  font-family: "Varela";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}
.footer-info-tags-names-2 :hover {
  cursor: pointer;
  background-color: #4d4382;
  color: #b7b6b6;
  transition: all 0.5s;
}
.footer-info-tags-names-3 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 3px;
}
.footer-info-tags-names-3-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 3px;
  padding: 4px 8px 4px 8px;
  color: #666666;
  background: #333333;
  font-family: "Varela";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}
.footer-info-tags-names-3 :hover {
  cursor: pointer;
  background-color: #4d4382;
  color: #b7b6b6;
  transition: all 0.5s;
}
.footer-info-tags-names-4 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 3px;
}
.footer-info-tags-names-4-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 3px;
  padding: 4px 8px 4px 8px;
  color: #666666;
  background: #333333;
  font-family: "Varela";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}
.footer-info-tags-names-4 :hover {
  cursor: pointer;
  background-color: #4d4382;
  color: #b7b6b6;
  transition: all 0.5s;
}
.footer-social {
  display: flex;
  flex-direction: row;
  margin-top: 84px;
  margin-left: 333px;
}
.footer-social-featured-title {
  display: flex;
  align-items: flex-end;
  width: 137px;
  height: 33px;
  margin-bottom: 25px;
  color: #ffffff;
  font-family: "Bitter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}
.footer-social-featured-posts {
  display: flex;
  flex-direction: row;
  width: 303px;
  margin-right: 15px;
}
.footer-social-featured-posts-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 214px;
  font-family: "Varela Round";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
}
.footer-social-featured-posts-container-date {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Roboto";
  color: #666666;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.06px;
}
.footer-social-featured-posts-container-number {
  position: absolute;
  top: -8px;
  right: 10px;
  color: #666666;
  font-family: "Valera Round";
  font-weight: 400;
  font-size: 10px;
  line-height: 12.04px;
}
.footer-social-featured-posts-container-title {
  margin-top: 4px;
  color: #ffffff;
  font-family: "Bitter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16.8px;
}
.footer-social-featured-posts-img {
  width: 70px;
  height: 70px;
  margin-bottom: 21px;
  margin-left: 14px;
  border: 2px solid white;
}
.footer-social-featured-line {
  width: 303px;
  height: 1px;
  margin-bottom: 21px;
  background-color: #666666;
  opacity: 0.3;
}
.footer-social-randomposts {
  margin-left: 10px;
}
.footer-social-randomposts-title {
  display: flex;
  align-items: flex-end;
  width: 197px;
  height: 33px;
  margin-bottom: 25px;
  color: #ffffff;
  font-family: "Bitter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}
.footer-social-randomposts-posts {
  display: flex;
  flex-direction: row;
  width: 303px;
  margin-right: 15px;
}
.footer-social-randomposts-posts-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 214px;
  font-family: "Varela Round";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
}
.footer-social-randomposts-posts-container-date {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Roboto";
  color: #666666;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.06px;
}
.footer-social-randomposts-posts-container-number {
  position: absolute;
  top: -8px;
  right: 10px;
  color: #666666;
  font-family: "Valera Round";
  font-weight: 400;
  font-size: 10px;
  line-height: 12.04px;
}
.footer-social-randomposts-posts-container-title {
  margin-top: 4px;
  color: #ffffff;
  font-family: "Bitter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16.8px;
}
.footer-social-randomposts-posts-img {
  width: 70px;
  height: 70px;
  margin-bottom: 21px;
  margin-left: 14px;
  border: 2px solid white;
}
.footer-social-randomposts-line {
  width: 303px;
  height: 1px;
  margin-bottom: 21px;
  background-color: #666666;
  opacity: 0.3;
}
.footer-social-twitterfeed {
  margin-left: 6px;
}
.footer-social-twitterfeed-title {
  display: flex;
  align-items: flex-end;
  width: 181px;
  height: 33px;
  margin-bottom: 23px;
  color: #ffffff;
  font-family: "Bitter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}
.footer-social-twitterfeed-posts-container-user {
  display: flex;
  flex-direction: row;
}
.footer-social-twitterfeed-posts-container-user-twitterlogo {
  width: 24px;
  height: 18px;
  margin-right: 6px;
}
.footer-social-twitterfeed-posts-container-user-info {
  display: flex;
  align-items: center;
  width: 139px;
  height: 16px;
  margin-top: 2px;
  color: #666666;
  font-family: "Bitter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
.footer-social-twitterfeed-posts-container-text {
  display: flex;
  align-items: center;
  max-width: 292px;
  margin-top: 10.5px;
  margin-bottom: 39.5px;
  color: #cccccc;
  font-family: "Varela";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}
.footer-thinline {
  width: 1602px;
  height: 1px;
  margin-top: 25px;
  background-color: #666666;
  opacity: 0.3;
}
.footer-bottom {
  display: flex;
  flex-direction: row;
  margin-top: 19px;
}
.footer-bottom-copyright {
  display: flex;
  align-items: flex-end;
  width: 408px;
  height: 14px;
  margin-left: 333px;
  color: #999999;
  font-family: "Varela Round";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}
.footer-bottom-other {
  display: flex;
  align-items: flex-end;
  height: 14px;
  margin-left: 188px;
  padding-left: 50px;
  color: #999999;
  font-family: "Varela Round";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: right;
}

.slick-prev,
.slick-next {
  position: absolute;
  top: 200px;
  z-index: 2;
  display: block;
  width: 32px;
  height: 50px;
  padding: 0;
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
  color: transparent;
  transform: translate(0, -50%);
  line-height: 0px;
  font-size: 0px;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.BigSlider {
  width: 940px;
  height: 425px;
  margin: auto;
  margin-top: 158px;
}
.BigSlider-description {
  position: absolute;
  bottom: 28px;
  padding-left: 30px;
}
.BigSlider-description-wrapper {
  display: flex;
  flex-direction: row;
  height: 14px;
  margin: 10px 0px;
}
.BigSlider-description-wrapper-date {
  display: flex;
  align-items: flex-end;
  height: 14px;
  margin-bottom: 0;
  color: #ffffff;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}
.BigSlider-description-wrapper-comments {
  display: flex;
  flex-direction: row;
  height: 14px;
  margin-bottom: 0;
  margin-left: 20px;
  color: #ffffff;
  font-family: "Varela Round";
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}
.BigSlider-description-title {
  display: flex;
  align-items: flex-end;
  max-width: 600px;
  height: 92px;
  margin-bottom: 10px;
  margin-top: 0;
  color: #ffffff;
  font-family: "Bitter";
  font-weight: 700;
  font-size: 34px;
  line-height: 40.8px;
}
.BigSlider-description-btn {
  width: 123px;
  height: 33px;
  padding: 0;
  background: rgba(0, 0, 0, 0.0001);
  color: #ffffff;
  border: 1px solid #ffffff;
}
.BigSlider-description-btn:hover {
  cursor: pointer;
  background-color: #4d4382;
  font-size: 14.5px;
  transition: all 0.5s;
}
.BigSlider-img {
  width: 940px;
  height: 425px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 10% 38%;
     object-position: 10% 38%;
}

.slick-prev {
  bottom: 195px;
  left: 28px;
  background-image: url("../svgs/PrevBtn.svg");
}

.slick-next {
  bottom: 195px;
  right: 28px;
  background-image: url("../svgs/NextBtn.svg");
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  width: 940px;
  height: 425px;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}/*# sourceMappingURL=main.css.map */