@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bitter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 53px;
  background-color: #252525;
}
.header-logo {
  display: flex;
  flex-direction: row;
}
.header-logo-link {
  text-decoration: none;
}
.header-logo-symbol {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 63px;
  height: 53px;
  background-color: #333333;
}
.header-logo-symbol:hover {
  cursor: pointer;
}
.header-logo-symbol:hover > .header-logo-symbol-svg {
  cursor: pointer;
  transform: rotate(360deg);
  transition: all 0.8s;
}
.header-logo-symbol-svg {
  width: 14px;
  height: 21px;
}
.header-logo-name {
  width: 100px;
  height: 27px;
  margin-top: 16.5px;
  margin-right: 447px;
  margin-bottom: 9.5px;
  margin-left: 9px;
  color: #ffffff;
  font-family: "Bitter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 27px;
}
.header-logo-name:hover {
  cursor: pointer;
  color: #b7b6b6;
  transition: all 0.5s;
}
.header-sub-nav-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
}
.header-sub-nav-list-media {
  color: #ffffff;
  font-family: "Varela Round";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  width: 77px;
  height: 27px;
  margin-top: 14.5px;
  margin-right: 6px;
}
.header-sub-nav-list-media:hover {
  cursor: pointer;
  color: #b7b6b6;
  transition: all 0.5s;
}
.header-sub-nav-list-marketing {
  color: #ffffff;
  font-family: "Varela Round";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  width: 97px;
  height: 27px;
  margin-top: 14.5px;
  margin-right: 9px;
}
.header-sub-nav-list-marketing:hover {
  cursor: pointer;
  color: #b7b6b6;
  transition: all 0.5s;
}
.header-sub-nav-list-contact {
  color: #ffffff;
  font-family: "Varela Round";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  width: 83px;
  height: 27px;
  margin-top: 14.5px;
}
.header-sub-nav-list-contact:hover {
  cursor: pointer;
  color: #b7b6b6;
  transition: all 0.5s;
}
.header-sub-nav-list-search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 53px;
  background-color: #333333;
}
.header-sub-nav-list-search:hover {
  cursor: pointer;
}
.header-sub-nav-list-search:hover > .header-search-svg {
  cursor: pointer;
  transform: rotate(360deg);
  transition: all 0.7s;
}
.header-sub-nav-list-search-svg {
  width: 16px;
  height: 16px;
}

.categories {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 53px;
  background: #4d4382;
}
.categories-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 953px;
  list-style: none;
}
.categories-list-item-btn {
  height: 53px;
  padding: 0 20px;
  border: none;
  background-color: #4d4382;
}
.categories-list-item-btn-text {
  color: #ffffff;
  display: flex;
  justify-content: center;
  margin-top: 4px;
  color: #ffffff;
  font-family: "Bitter";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}
.categories-list-item-btn:hover {
  cursor: pointer;
}
.categories-list-item-btn-curious {
  border-bottom: 4px solid #3677b5;
}
.categories-list-item-btn-curious:hover {
  background-color: #3677b5;
  transition: all 0.5s;
}
.categories-list-item-btn-curious:focus {
  background-color: #3677b5;
}
.categories-list-item-btn-flamingo {
  border-bottom: 4px solid #ee6151;
}
.categories-list-item-btn-flamingo:hover {
  background-color: #ee6151;
  transition: all 0.5s;
}
.categories-list-item-btn-flamingo:focus {
  background-color: #ee6151;
}
.categories-list-item-btn-mantis {
  border-bottom: 4px solid #84c14f;
}
.categories-list-item-btn-mantis:hover {
  background-color: #84c14f;
  transition: all 0.5s;
}
.categories-list-item-btn-mantis:focus {
  background-color: #84c14f;
}
.categories-list-item-btn-turquoise {
  border-bottom: 4px solid #5dcff3;
}
.categories-list-item-btn-turquoise:hover {
  background-color: #5dcff3;
  transition: all 0.5s;
}
.categories-list-item-btn-turquoise:focus {
  background-color: #5dcff3;
}
.categories-list-item-btn-golden {
  border-bottom: 4px solid #fcc44d;
}
.categories-list-item-btn-golden:hover {
  background-color: #fcc44d;
  transition: all 0.5s;
}
.categories-list-item-btn-golden:focus {
  background-color: #fcc44d;
}
.categories-list-item-btn-tallow {
  border-bottom: 4px solid #a99765;
}
.categories-list-item-btn-tallow:hover {
  background-color: #a99765;
  transition: all 0.5s;
}
.categories-list-item-btn-tallow:focus {
  background-color: #a99765;
}

.homepage-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.homepage-content-categories {
  display: flex;
  flex-direction: column;
}
.homepage-content-categories-sliders {
  display: flex;
  flex-direction: row;
}

.categorypage-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.categorypage-content-list {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 622px;
  height: 2603px;
  margin-top: 19px;
  padding: 0;
  background-color: white;
}
.categorypage-content-list-title {
  display: flex;
  align-items: flex-end;
  margin-bottom: 36px;
  color: #363f48;
  font-family: "Bitter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}
.categorypage-content-list-item {
  width: 622px;
  margin-bottom: 92px;
}
.categorypage-content-list-item-title {
  display: flex;
  align-items: center;
  height: 24px;
  margin: 0;
  margin-bottom: 16px;
  color: #363f48;
  font-family: "Bitter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 12px;
}
.categorypage-content-list-item-info-1 {
  display: flex;
  flex-direction: row;
  gap: 35px;
}
.categorypage-content-list-item-info-1-date {
  display: flex;
  align-items: flex-end;
  margin: 0;
  color: #666666;
  font-family: "Varela Round";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}
.categorypage-content-list-item-info-1-author {
  display: flex;
  align-items: flex-end;
  margin: 0;
  color: #666666;
  font-family: "Varela Round";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}
.categorypage-content-list-item-info-1-comments {
  display: flex;
  align-items: flex-end;
  margin: 0;
  color: #666666;
  font-family: "Varela Round";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}
.categorypage-content-list-item-info-2 {
  display: flex;
  flex-direction: row;
  margin-top: 7px;
}
.categorypage-content-list-item-info-2-img {
  width: 170px;
  height: 128px;
  margin-top: 5px;
  margin-right: 20px;
}
.categorypage-content-list-item-info-2-paragraph {
  position: relative;
}
.categorypage-content-list-item-info-2-paragraph-text {
  display: flex;
  align-items: center;
  margin: 0;
  color: #444444;
  font-family: "Bitter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
.categorypage-content-list-item-info-2-paragraph-btn {
  width: 123px;
  height: 33px;
  margin-top: 16px;
  border: none;
  background: #4d4382;
  color: #ffffff;
}
.categorypage-content-list-item-info-2-paragraph-btn:hover {
  cursor: pointer;
  background-color: #433a71;
  transition: all 0.5s;
}
.categorypage-content-list-pagination {
  position: absolute;
  bottom: 188px;
  left: 30px;
  display: flex;
  flex-direction: row;
  gap: 4px;
}
.categorypage-content-list-pagination-item-btn {
  width: 33px;
  height: 32px;
  border: none;
  background-color: #dddddd;
  color: #4d4382;
}
.categorypage-content-list-pagination-item-btn:hover {
  cursor: pointer;
  background: #4d4382;
  color: #ffffff;
  transition: all 0.5s;
}
.categorypage-content-list-pagination-item-btn:focus {
  background: #4d4382;
  color: #ffffff;
}
.categorypage-content-sidebar {
  margin-left: 10px;
}

.singlepage-header {
  display: flex;
  justify-content: center;
  margin-top: 158px;
}
.singlepage-header-img {
  position: relative;
  width: 940px;
  height: 588px;
  background: linear-gradient(to bottom, rgba(80, 68, 18, 0.1) 60%, rgba(238, 225, 225, 0.3) 65%, rgba(238, 225, 225, 0.5) 70%, rgb(238, 225, 225) 80%, rgb(242, 237, 237) 100%, transparent), url("../images/SinglePageHeader.jpg");
}
.singlepage-header-img-date {
  position: absolute;
  bottom: 147px;
  left: 30px;
  display: flex;
  align-items: flex-end;
  color: #222222;
  font-family: "Varela Round";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.45px;
}
.singlepage-header-img-title {
  position: absolute;
  bottom: 38px;
  left: 30px;
  display: flex;
  align-items: flex-end;
  max-width: 750px;
  color: #222222;
  font-family: "Bitter";
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 52.8px;
}
.singlepage-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.singlepage-content-info {
  width: 620px;
  background-color: white;
}
.singlepage-content-info-first-paragraph {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  color: #444444;
  font-family: "Bitter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
.singlepage-content-info-first-img {
  width: 620px;
  height: 357px;
}
.singlepage-content-info-second-paragraph {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  color: #444444;
  font-family: "Bitter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
.singlepage-content-info-second-img {
  width: 607px;
  height: 42px;
  margin-left: 8px;
}
.singlepage-content-info-author {
  padding-left: 31px;
}
.singlepage-content-info-author-title {
  display: flex;
  align-items: flex-end;
  margin: 0;
  margin-top: 175px;
  margin-bottom: 30px;
  color: #363f48;
  font-family: "Bitter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}
.singlepage-content-info-author-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.singlepage-content-info-author-details-img {
  width: 110px;
  height: 110px;
}
.singlepage-content-info-author-details-text {
  display: flex;
  align-items: center;
  color: #444444;
  font-family: "Varela";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
}
.singlepage-content-info-comments {
  padding-left: 31px;
}
.singlepage-content-info-comments-title {
  display: flex;
  align-items: flex-end;
  margin-top: 64px;
  margin-bottom: 43px;
  color: #363f48;
  font-family: "Bitter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}
.singlepage-content-info-comments-item {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-bottom: 47.5px;
}
.singlepage-content-info-comments-item-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 58px;
  height: 58px;
  background-color: rgb(204, 204, 204);
  border: 3px solid rgb(204, 204, 204);
}
.singlepage-content-info-comments-item-bg-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  border: 3px solid white;
}
.singlepage-content-info-comments-item-author-details {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}
.singlepage-content-info-comments-item-author-details-name {
  display: flex;
  align-items: center;
  color: #4d4382;
  font-family: "Bitter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
}
.singlepage-content-info-comments-item-author-details-date {
  display: flex;
  align-items: center;
  color: #666666;
  font-family: "Varela";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 20px;
}
.singlepage-content-info-comments-item-author-comment {
  display: flex;
  align-items: center;
  margin-top: 12.5px;
  color: #444444;
  font-family: "Varela";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
}
.singlepage-content-info-comments-item-author-reply {
  padding-left: 30px;
}
.singlepage-content-info-comments-item-author-reply-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.singlepage-content-info-comments-item-author-reply-container-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  margin-top: 10px;
  background-color: rgb(204, 204, 204);
  border: 3px solid rgb(204, 204, 204);
}
.singlepage-content-info-comments-item-author-reply-container-bg-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 46px;
  border: 3px solid white;
}
.singlepage-content-info-comments-item-author-reply-container-info-you {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.singlepage-content-info-comments-item-author-reply-container-info-you-name {
  color: #4d4382;
  font-family: "Bitter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
}
.singlepage-content-info-comments-item-author-reply-container-info-you-date {
  color: #666666;
  font-family: "Varela";
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 20px;
}
.singlepage-content-info-comments-item-author-reply-container-info-text {
  max-width: 400px;
  margin-top: 4px;
  color: #444444;
  font-family: "Varela";
  font-style: normal;
  font-weight: 400;
  font-size: 11.5px;
  line-height: 20px;
}
.singlepage-content-info-comments-item-reply {
  position: absolute;
  top: 0;
  right: 31px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: #4d4382;
  text-align: right;
  font-family: "Varela Round";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
.singlepage-content-info-comments-item-reply:hover {
  cursor: pointer;
}
.singlepage-content-info-comments-add {
  display: flex;
  flex-direction: column;
  /* &-exit {
    width: 50px;
    height: 43px;
    border: none;
    background-color: $secondary-color;
    color: $font-color-white-1;
    font-family: "Varela Round";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    &:hover {
      cursor: pointer;
      background-color: darken($secondary-color, 5%);
      transition: all 0.5s;
    }
  } */
}
.singlepage-content-info-comments-add-reply {
  width: 303px;
  height: 43px;
  margin-bottom: 8px;
  padding-left: 18px;
  border: none;
  background-color: #dddddd;
  color: #666666;
  font-family: "Varela Round";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
.singlepage-content-info-comments-add-reply:focus {
  outline: none;
  border: 1px solid #4d4382;
}
.singlepage-content-info-comments-add-title {
  display: flex;
  align-items: flex-end;
  color: #363f48;
  font-family: "Bitter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}
.singlepage-content-info-comments-add-text {
  display: flex;
  align-items: center;
  margin-top: 12.5px;
  margin-bottom: 25.5px;
  color: #444444;
  font-family: "Varela";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
}
.singlepage-content-info-comments-add-text-input {
  width: 303px;
  height: 43px;
  margin-bottom: 8px;
  padding-left: 18px;
  border: none;
  background-color: #dddddd;
  color: #666666;
  font-family: "Varela Round";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
.singlepage-content-info-comments-add-text-input:focus {
  outline: none;
  border: 1px solid #4d4382;
}
.singlepage-content-info-comments-add-textarea-input {
  width: 562px;
  height: 187px;
  margin-bottom: 18px;
  padding-top: 10px;
  padding-left: 18px;
  border: none;
  resize: none;
  background-color: #dddddd;
  color: #666666;
  font-family: "Varela Round";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
.singlepage-content-info-comments-add-textarea-input:focus {
  outline: none;
  border: 1px solid #4d4382;
}
.singlepage-content-info-comments-add-btn {
  width: 153px;
  height: 53px;
  margin-bottom: 75px;
  border: none;
  background: #4d4382;
  color: #ffffff;
  font-family: "Varela Round";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
.singlepage-content-info-comments-add-btn:hover {
  cursor: pointer;
  background-color: #433a71;
  transition: all 0.5s;
}

.news {
  display: flex;
  flex-direction: row;
  margin-top: 19px;
  padding-right: 8px;
  background-color: white;
}
.news-line {
  width: 13px;
  height: 325px;
  background: #3677b5;
}
.news-container {
  display: flex;
  flex-direction: column;
  margin-left: 31px;
}
.news-container-info {
  display: flex;
  flex-direction: row;
}
.news-container-info-title {
  display: flex;
  align-items: flex-end;
  width: 94px;
  margin: 0;
  margin-top: 15px;
  margin-bottom: 30px;
  color: #363f48;
  font-family: "Bitter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}
.news-container-info-seeall {
  margin-left: 412px;
  margin-top: 32px;
}
.news-container-info-seeall-link {
  display: flex;
  align-items: flex-end;
  width: 43px;
  height: 17px;
  color: #3677b5;
  font-family: "Varela Round";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
}
.news-container-info-seeall-link:hover {
  border-bottom: 1px solid #3677b5;
}
.news-container-list {
  display: flex;
  flex-direction: row;
}
.news-container-list-item-img {
  width: 170px;
  height: 128px;
  margin-right: 20px;
}
.news-container-list-item-info {
  position: relative;
  width: 169px;
  height: 85px;
}
.news-container-list-item-info-date {
  margin: 4px 0;
  color: #666666;
  font-family: "Varela Round";
  font-weight: 400;
  font-size: 12px;
  line-height: 14.45px;
}
.news-container-list-item-info-title {
  margin: 0;
  color: #363f48;
  font-family: "Bitter";
  font-weight: 700;
  font-size: 14px;
  line-height: 16.8px;
}
.news-container-list-item-info-id {
  position: absolute;
  top: -11px;
  right: 0px;
  color: #666666;
  font-family: "Varela Round";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

.sport {
  display: flex;
  flex-direction: row;
  margin-top: 19px;
  padding-right: 8px;
  background-color: white;
}
.sport-line {
  width: 13px;
  height: 325px;
  background: #84c14f;
}
.sport-container {
  display: flex;
  flex-direction: column;
  margin-left: 31px;
}
.sport-container-info {
  display: flex;
  flex-direction: row;
}
.sport-container-info-title {
  display: flex;
  align-items: flex-end;
  width: 94px;
  margin: 0;
  margin-top: 15px;
  margin-bottom: 30px;
  color: #363f48;
  font-family: "Bitter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}
.sport-container-info-seeall {
  margin-left: 412px;
  margin-top: 32px;
}
.sport-container-info-seeall-link {
  display: flex;
  align-items: flex-end;
  width: 43px;
  height: 17px;
  color: #3677b5;
  font-family: "Varela Round";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
}
.sport-container-info-seeall-link:hover {
  border-bottom: 1px solid #3677b5;
}
.sport-container-list {
  display: flex;
  flex-direction: row;
}
.sport-container-list-item-img {
  width: 170px;
  height: 128px;
  margin-right: 20px;
}
.sport-container-list-item-info {
  position: relative;
  width: 169px;
  height: 85px;
}
.sport-container-list-item-info-date {
  margin: 4px 0;
  color: #666666;
  font-family: "Varela Round";
  font-weight: 400;
  font-size: 12px;
  line-height: 14.45px;
}
.sport-container-list-item-info-title {
  margin: 0;
  color: #363f48;
  font-family: "Bitter";
  font-weight: 700;
  font-size: 14px;
  line-height: 16.8px;
}
.sport-container-list-item-info-id {
  position: absolute;
  top: -11px;
  right: 0px;
  color: #666666;
  font-family: "Varela Round";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

.business {
  display: flex;
  flex-direction: row;
  margin-top: 159px;
  padding-right: 8px;
  height: 325px;
  background-color: white;
}
.business-line {
  width: 13px;
  height: 325px;
  background: #ee6151;
}
.business-container {
  display: flex;
  flex-direction: column;
  width: 570px;
  margin-left: 31px;
}
.business-container-info {
  display: flex;
  flex-direction: row;
}
.business-container-info-title {
  display: flex;
  align-items: flex-end;
  height: 33px;
  margin: 0;
  margin-top: 15px;
  margin-bottom: 8px;
  color: #363f48;
  font-family: "Bitter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}
.business-container-info-seeall {
  margin-left: 406px;
  margin-top: 32px;
}
.business-container-info-seeall-link {
  display: flex;
  align-items: flex-end;
  width: 43px;
  height: 17px;
  color: #3677b5;
  font-family: "Varela Round";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
}
.business-container-info-seeall-link:hover {
  border-bottom: 1px solid #3677b5;
}
.business-container-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.business-container-list-item {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}
.business-container-list-item-img {
  width: 120px;
  height: 90px;
  margin-right: 15px;
}
.business-container-list-item-info {
  position: relative;
  width: 145px;
  height: 85px;
  padding-right: 5px;
}
.business-container-list-item-info-date {
  margin: 4px 0;
  color: #666666;
  font-family: "Varela Round";
  font-weight: 400;
  font-size: 12px;
  line-height: 14.45px;
}
.business-container-list-item-info-title {
  width: 130px;
  margin: 0;
  color: #363f48;
  font-family: "Bitter";
  font-weight: 700;
  font-size: 14px;
  line-height: 16.8px;
}

.NewsCarousel {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 625px;
  height: 325px;
  margin-top: 167px;
  background-color: white;
}
.NewsCarousel-line {
  width: 13px;
  height: 325px;
  background-color: #fcc44d;
}
.NewsCarousel-content-title {
  display: flex;
  align-items: flex-end;
  margin: 0;
  margin-top: 15px;
  margin-bottom: 30px;
  padding-left: 31px;
  color: #363f48;
  font-family: "Bitter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}
.NewsCarousel-content-slider {
  width: 612px;
  padding-left: 31px;
}
.NewsCarousel-content-slider-item-img {
  width: 260px;
  height: 150px;
}
.NewsCarousel-content-slider-item-date {
  width: 260px;
  margin: 0;
  margin-top: 12px;
  margin-bottom: 5px;
  color: #666666;
  font-family: "Varela Round";
  font-weight: 400;
  font-size: 12px;
  line-height: 14.45px;
}
.NewsCarousel-content-slider-item-title {
  width: 260px;
  margin: 0;
  color: #363f48;
  font-family: "Bitter";
  font-weight: 700;
  font-size: 14px;
  line-height: 16.8px;
}
.NewsCarousel-content .slick-prev,
.NewsCarousel-content .slick-next {
  position: absolute;
  top: -40px;
  z-index: 2;
  display: block;
  width: 14px;
  height: 19px;
  padding: 0;
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
  color: transparent;
  transform: translate(0, -50%);
  line-height: 0px;
  font-size: 0px;
}
.NewsCarousel-content .slick-prev.slick-disabled:before,
.NewsCarousel-content .slick-next.slick-disabled:before {
  opacity: 0.25;
}
.NewsCarousel-content .slick-prev:before,
.NewsCarousel-content .slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.NewsCarousel-content .slick-prev {
  left: 540px;
  background-image: url("../svgs/YellowPrevBtn.svg");
}
.NewsCarousel-content .slick-next {
  background-image: url("../svgs/YellowNextBtn.svg");
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  width: 940px;
  height: 425px;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.SmallSlider {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 306px;
  height: 325px;
  margin-top: 17px;
  background-color: white;
}
.SmallSlider-line {
  width: 13px;
  height: 325px;
  background-color: #a99765;
}
.SmallSlider-content-title {
  margin: 0;
  margin-top: 15px;
  margin-bottom: 30px;
  padding-left: 31px;
  color: #363f48;
  font-family: "Bitter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: flex-end;
}
.SmallSlider-content-slider {
  width: 294.5px;
  padding-left: 33px;
}
.SmallSlider-content-slider-item-img {
  width: 230px;
  height: 150px;
}
.SmallSlider-content-slider-item-date {
  width: 230px;
  margin: 0;
  margin-top: 12px;
  margin-bottom: 5px;
  color: #666666;
  font-family: "Varela Round";
  font-weight: 400;
  font-size: 12px;
  line-height: 14.45px;
}
.SmallSlider-content-slider-item-title {
  width: 230px;
  margin: 0;
  color: #363f48;
  font-family: "Bitter";
  font-weight: 700;
  font-size: 14px;
  line-height: 16.8px;
}
.SmallSlider-content .slick-prev,
.SmallSlider-content .slick-next {
  position: absolute;
  top: -40px;
  z-index: 2;
  display: block;
  width: 14px;
  height: 19px;
  padding: 0;
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
  color: transparent;
  transform: translate(0, -50%);
  line-height: 0px;
  font-size: 0px;
}
.SmallSlider-content .slick-prev.slick-disabled:before,
.SmallSlider-content .slick-next.slick-disabled:before {
  opacity: 0.25;
}
.SmallSlider-content .slick-prev:before,
.SmallSlider-content .slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.SmallSlider-content .slick-prev {
  left: 220px;
  background-image: url("../svgs/GoldenPrevBtn.svg");
}
.SmallSlider-content .slick-next {
  background-image: url("../svgs/GoldenNextBtn.svg");
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  width: 940px;
  height: 425px;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.gallery {
  width: 940px;
  height: 425px;
  margin: auto;
  margin-top: 158px;
}
.gallery-img {
  width: 940px;
  height: 425px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 10% 38%;
     object-position: 10% 38%;
}
.gallery-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  margin-top: 140px;
  margin-left: 430px;
  border: none;
  outline: none;
  background-color: transparent;
}
.gallery-btn:hover {
  cursor: pointer;
  outline: none;
}
.gallery .slick-prev,
.gallery .slick-next {
  position: absolute;
  top: 170px;
  z-index: 2;
  display: block;
  width: 32px;
  height: 50px;
  padding: 0;
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
  color: transparent;
  transform: translate(0, -50%);
  line-height: 0px;
  font-size: 0px;
}
.gallery .slick-prev.slick-disabled:before,
.gallery .slick-next.slick-disabled:before {
  opacity: 0.25;
}
.gallery .slick-prev:before,
.gallery .slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.gallery .slick-prev {
  bottom: 195px;
  left: 28px;
  background-image: url("../svgs/PrevBtn.svg");
}
.gallery .slick-next {
  bottom: 195px;
  right: 28px;
  background-image: url("../svgs/NextBtn.svg");
}
.gallery .slick-dotted.slick-slider {
  margin-bottom: 30px;
}
.gallery .slick-dots {
  position: absolute;
  bottom: 0px;
  z-index: 100;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
.gallery .slick-dots li {
  position: relative;
  display: inline-block;
  height: 120px;
  width: 120px;
  margin: 0 5px 20px 5px;
  padding: 0;
  cursor: pointer;
}
.gallery .slick-dots li button {
  display: block;
  height: 120px;
  width: 120px;
  padding: 5px;
  cursor: pointer;
  box-shadow: 5px 5px 5px 0px rgba(181, 191, 185, 0.3);
  background-image: url("../images/News.jpg");
  background-size: cover;
  color: transparent;
  outline: none;
  line-height: 0px;
  font-size: 0px;
}
.gallery .slick-dots li button:hover, .gallery .slick-dots li button:focus {
  outline: none;
}
.gallery .slick-dots li button:hover:before, .gallery .slick-dots li button:focus:before {
  opacity: 1;
}
.gallery .slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.gallery .slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  width: 940px;
  height: 425px;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.sidebar {
  width: 303px;
  height: 1985px;
  margin-top: 19px;
  margin-left: 16px;
  background-color: white;
}
.sidebar-news {
  width: 303px;
  height: 667px;
}
.sidebar-news-categories {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 21px;
  width: 100%;
  height: 53px;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #433a71;
}
.sidebar-news-categories-item-title-btn {
  padding: 0;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  background-color: #433a71;
  color: #ffffff;
  font-family: "Varela Round";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
.sidebar-news-categories-item-title-btn:hover {
  cursor: pointer;
  border-bottom: 1px solid #fcc44d;
  color: #fcc44d;
  transition: all 0.5s;
}
.sidebar-news-categories-item-title-btn:focus {
  border-bottom: 1px solid #fcc44d;
  color: #fcc44d;
}
.sidebar-news-posts {
  height: 614px;
  background-color: #4d4382;
}
.sidebar-news-posts-post {
  position: relative;
  padding-top: 31px;
  padding-bottom: 31px;
}
.sidebar-news-posts-post:hover {
  cursor: pointer;
  background-color: #433a71;
  transition: all 0.5s;
}
.sidebar-news-posts-post-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 52px;
  margin-left: 32px;
}
.sidebar-news-posts-post-wrapper-info-date {
  margin: 0;
  margin-bottom: 2px;
  color: #acb3ba;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 14.06px;
}
.sidebar-news-posts-post-wrapper-info-title {
  max-width: 165px;
  margin: 0;
  color: #ffffff;
  font-family: "Bitter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16.8px;
}
.sidebar-news-posts-post-wrapper-comments {
  position: absolute;
  top: -18px;
  left: 124px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3px;
}
.sidebar-news-posts-post-wrapper-comments-img {
  width: 11px;
  height: 10px;
  color: #acb3ba;
}
.sidebar-news-posts-post-wrapper-comments-number {
  color: #acb3ba;
  font-family: "Valera Round";
  font-weight: 400;
  font-size: 10px;
  line-height: 12.04px;
}
.sidebar-news-posts-post-wrapper-img {
  width: 70px;
  height: 70px;
  border: 2px solid white;
}
.sidebar-news-posts-post-line {
  position: absolute;
  bottom: 0;
  width: 303px;
  height: 2px;
  background-color: #433a71;
}
.sidebar-social-title {
  display: flex;
  align-items: flex-end;
  width: 101px;
  height: 33px;
  margin-top: 28px;
  margin-bottom: 6px;
  color: #363f48;
  font-family: "Bitter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}
.sidebar-social-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style: none;
}
.sidebar-social-list-item {
  display: flex;
  flex-direction: row;
  height: 40px;
  margin-top: 10px;
}
.sidebar-social-list-item-logo {
  width: 40px;
  height: 40px;
}
.sidebar-social-list-item-event {
  width: 123px;
  height: 40px;
  background-color: #dddddd;
}
.sidebar-social-list-item-event:hover {
  cursor: pointer;
  background-color: #c1bfbf;
  transition: all 0.5s;
}
.sidebar-social-list-item-event-text {
  width: 18px;
  margin: 0;
  margin-top: 13px;
  margin-left: 15px;
  color: #363f48;
  font-family: "Bitter";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}
.sidebar-social-list-item-info {
  width: 142px;
  height: 40px;
  background-color: #4d4382;
}
.sidebar-social-list-item-info-text {
  margin-left: 15px;
  color: #ffffff;
  font-family: "Varela Round";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
.sidebar-kenaz {
  margin-top: 32px;
}
.sidebar-kenaz-title {
  margin-bottom: 31px;
  margin-left: 33px;
  display: flex;
  align-items: flex-end;
  width: 141px;
  height: 33px;
  color: #363f48;
  font-family: "Bitter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}
.sidebar-kenaz-video {
  position: relative;
}
.sidebar-kenaz-video-img {
  width: 303px;
  height: 149px;
  -o-object-fit: cover;
     object-fit: cover;
}
.sidebar-kenaz-video-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 43px;
  border-radius: 4px;
  background: black;
  opacity: 0.8;
}
.sidebar-kenaz-video-play-btn {
  width: 20px;
  height: 20px;
}
.sidebar-kenaz-video-play:hover {
  cursor: pointer;
}
.sidebar-kenaz-info {
  margin-left: 32px;
}
.sidebar-kenaz-info-date {
  margin: 0;
  margin-top: 17px;
  margin-bottom: 4px;
  color: #666666;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 14.06px;
}
.sidebar-kenaz-info-title {
  margin: 0;
  color: #363f48;
  font-family: "Bitter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}
.sidebar-envatoposts {
  width: 270px;
  height: 521px;
  margin: auto;
  margin-top: 242px;
}

.footer {
  width: 100%;
  height: 934px;
  margin-top: 18px;
  background-color: #252525;
}
.footer-line {
  width: 100%;
  height: 23px;
  background-color: #4d4382;
}
.footer-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.footer-info-kenaz-title {
  display: flex;
  flex-direction: row;
  margin-top: 49.22px;
  margin-bottom: 21.78px;
}
.footer-info-kenaz-title-text {
  display: flex;
  align-items: center;
  width: 143.56px;
  height: 52px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 18px;
  color: #45b0e3;
  font-family: "Bitter";
  font-style: normal;
  font-weight: 400;
  font-size: 29.623px;
  line-height: 52px;
}
.footer-info-kenaz-subtitle {
  display: flex;
  align-items: center;
  width: 303px;
  height: 40px;
  margin-bottom: 23px;
  color: #666666;
  font-family: "Bitter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.footer-info-kenaz-social-item {
  width: 38px;
  height: 38px;
  margin-right: 6px;
}
.footer-info-kenaz-social-item:hover {
  cursor: pointer;
  transform: rotate(360deg);
  transition: all 0.7s;
}
.footer-info-newsletter {
  margin-left: 18px;
}
.footer-info-newsletter-title {
  display: flex;
  align-items: flex-end;
  width: 163px;
  height: 33px;
  margin-top: 63px;
  margin-bottom: 25px;
  color: #cccccc;
  font-family: "Bitter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}
.footer-info-newsletter-subtitle {
  display: flex;
  align-items: center;
  width: 303px;
  height: 40px;
  margin-bottom: 25px;
  color: #666666;
  font-family: "Bitter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.footer-info-newsletter-subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 53px;
}
.footer-info-newsletter-subscribe-input {
  width: 193px;
  height: 53px;
  margin: 0;
  padding: 0;
  padding-left: 21px;
  border: none;
  background: #333333;
  color: #ffffff;
  font-family: "Varela Round";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.footer-info-newsletter-subscribe-input:focus {
  outline: none;
  border-top: 1px solid #4d4382;
  border-bottom: 1px solid #4d4382;
  border-left: 1px solid #4d4382;
}
.footer-info-newsletter-subscribe-btn {
  width: 112px;
  height: 53px;
  padding: 0;
  border: none;
  color: #cccccc;
  background: #4d4382;
  font-family: "Varela Round";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.footer-info-newsletter-subscribe-btn:hover {
  cursor: pointer;
  background: #3f376a;
  transition: all 0.5s;
}
.footer-info-tags {
  margin-left: 17px;
}
.footer-info-tags-title {
  display: flex;
  align-items: flex-end;
  width: 178px;
  height: 33px;
  margin-top: 63px;
  margin-bottom: 31px;
  color: #cccccc;
  font-family: "Bitter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}
.footer-info-tags-names-1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.footer-info-tags-names-1-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 3px;
  padding: 4px 8px 4px 8px;
  border: none;
  color: #666666;
  background: #333333;
  font-family: "Varela";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}
.footer-info-tags-names-1 :hover {
  cursor: pointer;
  background-color: #4d4382;
  color: #b7b6b6;
  transition: all 0.5s;
}
.footer-info-tags-names-1 :focus {
  background-color: #4d4382;
  color: #b7b6b6;
}
.footer-info-tags-names-2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 3px;
}
.footer-info-tags-names-2-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 3px;
  padding: 4px 8px 4px 8px;
  border: none;
  color: #666666;
  background: #333333;
  font-family: "Varela";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}
.footer-info-tags-names-2 :hover {
  cursor: pointer;
  background-color: #4d4382;
  color: #b7b6b6;
  transition: all 0.5s;
}
.footer-info-tags-names-2 :focus {
  background-color: #4d4382;
  color: #b7b6b6;
}
.footer-info-tags-names-3 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 3px;
}
.footer-info-tags-names-3-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 3px;
  padding: 4px 8px 4px 8px;
  border: none;
  color: #666666;
  background: #333333;
  font-family: "Varela";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}
.footer-info-tags-names-3 :hover {
  cursor: pointer;
  background-color: #4d4382;
  color: #b7b6b6;
  transition: all 0.5s;
}
.footer-info-tags-names-3 :focus {
  background-color: #4d4382;
  color: #b7b6b6;
}
.footer-info-tags-names-4 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 3px;
}
.footer-info-tags-names-4-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 3px;
  padding: 4px 8px 4px 8px;
  border: none;
  color: #666666;
  background: #333333;
  font-family: "Varela";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}
.footer-info-tags-names-4 :hover {
  cursor: pointer;
  background-color: #4d4382;
  color: #b7b6b6;
  transition: all 0.5s;
}
.footer-info-tags-names-4 :focus {
  background-color: #4d4382;
  color: #b7b6b6;
}
.footer-social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 84px;
}
.footer-social-featured-title {
  display: flex;
  align-items: flex-end;
  width: 137px;
  height: 33px;
  margin-bottom: 25px;
  color: #ffffff;
  font-family: "Bitter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}
.footer-social-featured-posts {
  display: flex;
  flex-direction: row;
  width: 303px;
  margin-right: 15px;
}
.footer-social-featured-posts-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 214px;
  font-family: "Varela Round";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
}
.footer-social-featured-posts-container-date {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Roboto";
  color: #666666;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.06px;
}
.footer-social-featured-posts-container-number {
  position: absolute;
  top: -8px;
  right: 10px;
  color: #666666;
  font-family: "Valera Round";
  font-weight: 400;
  font-size: 10px;
  line-height: 12.04px;
}
.footer-social-featured-posts-container-title {
  margin-top: 4px;
  color: #ffffff;
  font-family: "Bitter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16.8px;
}
.footer-social-featured-posts-img {
  width: 70px;
  height: 70px;
  margin-bottom: 21px;
  margin-left: 14px;
  border: 2px solid white;
}
.footer-social-featured-line {
  width: 303px;
  height: 1px;
  margin-bottom: 21px;
  background-color: #666666;
  opacity: 0.3;
}
.footer-social-randomposts {
  margin-left: 10px;
}
.footer-social-randomposts-title {
  display: flex;
  align-items: flex-end;
  width: 197px;
  height: 33px;
  margin-bottom: 25px;
  color: #ffffff;
  font-family: "Bitter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}
.footer-social-randomposts-posts {
  display: flex;
  flex-direction: row;
  width: 303px;
  margin-right: 15px;
}
.footer-social-randomposts-posts-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 214px;
  font-family: "Varela Round";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
}
.footer-social-randomposts-posts-container-date {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Roboto";
  color: #666666;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.06px;
}
.footer-social-randomposts-posts-container-number {
  position: absolute;
  top: -8px;
  right: 10px;
  color: #666666;
  font-family: "Valera Round";
  font-weight: 400;
  font-size: 10px;
  line-height: 12.04px;
}
.footer-social-randomposts-posts-container-title {
  margin-top: 4px;
  color: #ffffff;
  font-family: "Bitter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16.8px;
}
.footer-social-randomposts-posts-img {
  width: 70px;
  height: 70px;
  margin-bottom: 21px;
  margin-left: 14px;
  border: 2px solid white;
}
.footer-social-randomposts-line {
  width: 303px;
  height: 1px;
  margin-bottom: 21px;
  background-color: #666666;
  opacity: 0.3;
}
.footer-social-twitterfeed {
  margin-left: 6px;
}
.footer-social-twitterfeed-title {
  display: flex;
  align-items: flex-end;
  width: 181px;
  height: 33px;
  margin-bottom: 23px;
  color: #ffffff;
  font-family: "Bitter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}
.footer-social-twitterfeed-posts-container-user {
  display: flex;
  flex-direction: row;
}
.footer-social-twitterfeed-posts-container-user-twitterlogo {
  width: 24px;
  height: 18px;
  margin-right: 6px;
}
.footer-social-twitterfeed-posts-container-user-info {
  display: flex;
  align-items: center;
  width: 139px;
  height: 16px;
  margin-top: 2px;
  color: #666666;
  font-family: "Bitter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
.footer-social-twitterfeed-posts-container-text {
  display: flex;
  align-items: center;
  max-width: 292px;
  margin-top: 10.5px;
  margin-bottom: 39.5px;
  color: #cccccc;
  font-family: "Varela";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}
.footer-thinline {
  width: 100%;
  height: 1px;
  margin-top: 25px;
  background-color: #666666;
  opacity: 0.3;
}
.footer-bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 188px;
  width: 100%;
  margin-top: 19px;
}
.footer-bottom-copyright {
  display: flex;
  align-items: flex-end;
  width: 408px;
  height: 14px;
  margin-left: 40px;
  color: #999999;
  font-family: "Varela Round";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}
.footer-bottom-other {
  display: flex;
  align-items: flex-end;
  height: 14px;
  padding-right: 50px;
  padding-left: 50px;
  color: #999999;
  font-family: "Varela Round";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: right;
}

.slick-prev,
.slick-next {
  position: absolute;
  top: 200px;
  z-index: 2;
  display: block;
  width: 32px;
  height: 50px;
  padding: 0;
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
  color: transparent;
  transform: translate(0, -50%);
  line-height: 0px;
  font-size: 0px;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.BigSlider {
  width: 940px;
  height: 425px;
  margin: auto;
  margin-top: 158px;
}
.BigSlider-description {
  position: absolute;
  bottom: 28px;
  padding-left: 30px;
}
.BigSlider-description-wrapper {
  display: flex;
  flex-direction: row;
  height: 14px;
  margin: 10px 0px;
}
.BigSlider-description-wrapper-date {
  display: flex;
  align-items: flex-end;
  height: 14px;
  margin-bottom: 0;
  color: #ffffff;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}
.BigSlider-description-wrapper-comments {
  display: flex;
  flex-direction: row;
  height: 14px;
  margin-bottom: 0;
  margin-left: 20px;
  color: #ffffff;
  font-family: "Varela Round";
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}
.BigSlider-description-title {
  display: flex;
  align-items: flex-end;
  max-width: 600px;
  height: 92px;
  margin-bottom: 10px;
  margin-top: 0;
  color: #ffffff;
  font-family: "Bitter";
  font-weight: 700;
  font-size: 34px;
  line-height: 40.8px;
}
.BigSlider-description-btn {
  width: 123px;
  height: 33px;
  padding: 0;
  border: 1px solid white;
  background: rgba(0, 0, 0, 0.0001);
  color: #ffffff;
}
.BigSlider-description-btn:hover {
  cursor: pointer;
  background-color: #4d4382;
  font-size: 14.5px;
  transition: all 0.5s;
}
.BigSlider-img {
  width: 940px;
  height: 425px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 10% 38%;
     object-position: 10% 38%;
}

.slick-prev {
  bottom: 195px;
  left: 28px;
  background-image: url("../svgs/PrevBtn.svg");
}

.slick-next {
  bottom: 195px;
  right: 28px;
  background-image: url("../svgs/NextBtn.svg");
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  width: 940px;
  height: 425px;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.zoomedimg {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #252525;
}
.zoomedimg-wrapper {
  position: relative;
  width: 72%;
  height: 80%;
}
.zoomedimg-wrapper-img {
  width: 100%;
  height: 100%;
}
.zoomedimg-wrapper-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border: none;
  outline: none;
  background-color: transparent;
}
.zoomedimg-wrapper-btn:hover {
  cursor: pointer;
  outline: none;
}
.zoomedimg-wrapper-btn-zoomout {
  width: 80px;
  height: 80px;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: auto;
  width: 100%;
  margin: 0;
}

#root {
  height: 100%;
  width: 100%;
  margin: auto;
  background-color: #eeeeee;
}/*# sourceMappingURL=main.css.map */